name: Windows - H2S - CM - APP

on:
  workflow_dispatch:

jobs:
  build:
    name: Start Building...
    runs-on: windows-latest



    steps:

      - name: Run the full batch script
        env:
          # This line maps your input to the %SETTING% variable
          SETTING: ${{ inputs.settings_url }}
          LINK_LIST_URL: ${{ inputs.urls }}
          
      - name: Install dependencies
        shell: pwsh
        run: |        
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install google-api-python-client>=2.0.0 google-auth-httplib2>=0.1.0 google-auth-oauthlib>=0.4.0
          python -m pip install yagmail chardet wheel oauth2client
          python -m pip install git+https://github.com/monsterhunters/srtmerge.git --no-build-isolation
      - name: Downloading & Running Essentials
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri "https://raw.githubusercontent.com/Bogyi2024/log/main/directcm720custom-next.bat" -OutFile "directcm720custom-next.bat"
          cmd /c directcm720custom-next.bat
